# System Prerequisites
Node.js (v14+)
MongoDB

# Backend Dependencies (Node.js)
bcrypt=^5.1.1
cors=^2.8.5
dotenv=^16.4.5
express=^4.19.2
jsonwebtoken=^9.0.2
mongoose=^8.5.2

# Backend Development Dependencies
nodemon=^3.1.4

# Frontend Dependencies
# The frontend uses vanilla HTML/CSS/JS and does not require package management.
